/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Fondo */
body {
    min-height: 100vh;
    background: #0b141a;
    padding: 40px 20px;
}

/* Título */
h1 {
    text-align: center;
    color: #e9edef;
    margin-bottom: 30px;
}

/* Contenedor */
.contactos-container {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

/* Tarjeta */
.contacto {
    background: #111b21;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.6);
    text-align: center;
}

/* Nombre */
.contacto h2 {
    font-size: 18px;
    color: #25d366;
    margin-bottom: 8px;
}

/* Teléfono */
.contacto p {
    font-size: 14px;
    color: #8696a0;
}

/* Foto */
.foto-perfil {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    border: 3px solid #25d366;
}

/* Acciones */
.acciones {
    text-align: center;
    margin-bottom: 30px;
}

/* Botón */
.btn {
    background-color: #25d366;
    color: #0b141a;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}

.btn:hover {
    background-color: #1faa59;
}

/* =======================
   HEADER USUARIO
======================= */
.usuario-header {
    max-width: 800px;
    margin: 0 auto 20px;
    background: #111b21;
    padding: 12px 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 12px;
    box-shadow: 0 6px 16px rgba(0,0,0,0.6);
}

/* Foto usuario */
.usuario-foto {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #25d366;
}

/* Nombre usuario */
#nombreUsuario {
    color: #e9edef;
    font-weight: bold;
    font-size: 15px;
}
