/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Fondo */
body {
    min-height: 100vh;
    background: #0b141a;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Contenedor login */
.login-container {
    background: #111b21;
    padding: 30px 40px;
    border-radius: 10px;
    width: 100%;
    max-width: 380px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6);
    text-align: center;
}

/* Título */
h1 {
    margin-bottom: 20px;
    color: #e9edef;
    font-size: 24px;
}

/* Inputs */
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px solid #2a3942;
    background: #0b141a;
    color: #e9edef;
    font-size: 14px;
}

input::placeholder {
    color: #8696a0;
}

input:focus {
    outline: none;
    border-color: #25d366;
}

/* Botón */
button {
    width: 100%;
    padding: 12px;
    background-color: #25d366;
    color: #0b141a;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #1faa59;
}