/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Fondo */
body {
    min-height: 100vh;
    background: #0b141a;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Tarjeta del formulario */
.form-container {
    background: #111b21;
    padding: 35px 40px;
    border-radius: 12px;
    width: 100%;
    max-width: 420px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.6);
}

/* Título */
.form-container h1 {
    text-align: center;
    margin-bottom: 25px;
    color: #e9edef;
    font-size: 22px;
}

/* Inputs */
.form-container input {
    width: 100%;
    padding: 12px 14px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #2a3942;
    font-size: 14px;
    background: #0b141a;
    color: #e9edef;
}

/* Placeholder */
.form-container input::placeholder {
    color: #8696a0;
}

/* Focus */
.form-container input:focus {
    outline: none;
    border-color: #25d366;
}

/* Botón */
.form-container button {
    width: 100%;
    padding: 12px;
    background-color: #25d366;
    color: #0b141a;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
}

/* Hover botón */
.form-container button:hover {
    background-color: #1faa59;
}
